# Importar Librerias

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder

# Filtrado y Limpieza de Bases Anonimizadas RESPEL (2015-2020)

Se cargan los archivos Respel (2015-2020);                                                                                     Se filtra unicamente la corriente de Residuos Peligrosos con codigo A1180 y se consolidan en un DataFrame

In [2]:
Names = ['RESPEL_2015','RESPEL_2016','RESPEL_2017','RESPEL_2018','RESPEL_2019','RESPEL_2020']
df_conso =  pd.DataFrame()

#Se recorren los archivos RESPEL (2015-2020)
for i in range(len(Names)):
    RESPEL = pd.read_excel(Names[i]+'.xlsx')
    print("Data: "+Names[i])
    print(f"Shape of data: {RESPEL.shape}")
    print(f"Number of missing values: {RESPEL.isnull().sum().sum()}")
    ##Filtrar solo CORRIENTE DE RESIDUO O DESECHO PELIGROSO con codigo A1180 
    Filter = RESPEL[RESPEL['CORRIENTE_DE_RESIDUO_O_DESECHO_PELIGROSO'].str.contains('A1180', regex=True, na=True)]
    print(f"Shape of data filtered: {Filter.shape}")
    print("\n")
    ##Concatena la data en un DataFrame
    df_conso = pd.concat([df_conso,Filter], axis=0)

df_conso.tail()

Data: RESPEL_2015
Shape of data: (34039, 32)
Number of missing values: 98697
Shape of data filtered: (1524, 32)


Data: RESPEL_2016
Shape of data: (40851, 32)
Number of missing values: 119796
Shape of data filtered: (1990, 32)


Data: RESPEL_2017
Shape of data: (47828, 32)
Number of missing values: 140782
Shape of data filtered: (2521, 32)


Data: RESPEL_2018
Shape of data: (56322, 33)
Number of missing values: 230832
Shape of data filtered: (2558, 33)


Data: RESPEL_2019
Shape of data: (61593, 35)
Number of missing values: 195539
Shape of data filtered: (2893, 35)


Data: RESPEL_2020
Shape of data: (67335, 34)
Number of missing values: 214222
Shape of data filtered: (2936, 34)

,AUTORIDAD_AMBIENTAL,DEPARTAMENTO,MUNICIPIO,ACTIVIDAD_ECONOMICA_CIIU_Rev.4.0_A.C.,CORRIENTE_DE_RESIDUO_O_DESECHO_PELIGROSO,DESCRIPCION_DEL_RESIDUO,ESTADO_DE_LA_MATERIA,UNIDAD_DE_MEDIDA,CANTIDAD_ALMACENADA_AL_FINAL_DEL_PERIODO_POR_EL_GENERADOR,CANTIDAD_ALMACENADA_AL_INICIO_DEL_PERIODO_POR_EL_GENERADOR,...,TIPO_DE_DISPOCISION,CANTIDAD_DISPUESTA_POR_TERCEROS,TIPO_DE_DISPOSICION,RAZON_SOCIAL_DEL_TERCERO.3,GENERACION_TOTAL_kg.,ANO,CODIGO_DEPARTAMENTO,CODIGO_MUNICIPIO,NUMERO_DE_EMPLEADOS,TIPO_DE_DISPOSICION.1
67274,SDA,"BOGOTA, D.C.","BOGOTA, D.C.",9512 Mantenimiento y reparacion de equipos de ...,A1180 - Montajes electricos y electronicos de ...,"Residuos electronicos (Computadores, servidore...",Solido o semisolido,kilogramo (kg),0.0,0.0,...,--,0.0,--,NaN,710.00,2020,11.0,11001.0,NaN,NaN
67290,SDA,"BOGOTA, D.C.","BOGOTA, D.C.",4645 Comercio al por mayor de productos farmac...,A1180 - Montajes electricos y electronicos de ...,RAEE´S,Solido o semisolido,kilogramo (kg),0.0,0.0,...,--,0.0,--,NaN,30.63,2020,11.0,11001.0,NaN,NaN
67311,SDA,"BOGOTA, D.C.","BOGOTA, D.C.","8621 Actividades de la practica medica, sin in...",A1180 - Montajes electricos y electronicos de ...,"Cables, equipos de control y protecci?n (equip...",Solido o semisolido,kilogramo (kg),0.0,0.0,...,--,0.0,--,NaN,43.00,2020,11.0,11001.0,NaN,NaN
67316,SDA,"BOGOTA, D.C.","BOGOTA, D.C.",6190 Otras actividades de telecomunicaciones,A1180 - Montajes electricos y electronicos de ...,NaN,Solido o semisolido,kilogramo (kg),0.0,0.0,...,--,0.0,--,NaN,21619.80,2020,11.0,11001.0,NaN,NaN
67326,SDA,"BOGOTA, D.C.","BOGOTA, D.C.",6130 Actividades de telecomunicacion satelital,A1180 - Montajes electricos y electronicos de ...,RAEES,Solido o semisolido,kilogramo (kg),0.0,0.0,...,--,0.0,--,NaN,8361.00,2020,11.0,11001.0,NaN,NaN

Se eliminan las columnas que no serán utilizadas para la investigación, de acuerdo al mapeo de campos

In [3]:
##Eliminar columnas que no serán utilizadas para la predicción
df_conso = df_conso.drop(columns=['CODIGO_DEPARTAMENTO','CODIGO_MUNICIPIO','NUMERO_DE_EMPLEADOS','CANTIDAD_ALMACENADA_AL_FINAL_DEL_PERIODO_POR_EL_GENERADOR',
       'CANTIDAD_ALMACENADA_AL_INICIO_DEL_PERIODO_POR_EL_GENERADOR',
       'CANTIDAD_TOTAL_ALMACENADA_POR_EL_GENERADOR',
       'CANTIDAD_ENTREGADA_AL_FINAL_DEL_PERIODO_A_TERCEROS',
       'CANTIDAD_ENTREGADA_AL_INICIO_DEL_PERIODO_A_TERCEROS',
       'CANTIDAD_TOTAL_ENTREGADA_A_TERCEROS', 'RAZON_SOCIAL_DEL_TERCERO',
       'CANTIDAD_APROVECHADA_Y.O_VALORIZADA_POR_EL_GENERADOR',
       'TIPO_DE_APROVECHAMIENTO',
       'CANTIDAD_APROVECHADA_Y.O_VALORIZADA_POR_EL_TERCERO',
       'TIPO_DE_APROVECHAMIENTO.1', 'RAZON_SOCIAL_DEL_TERCERO.1',
       'CANTIDAD_TRATADA_POR_EL_GENERADOR', 'TIPO_DE_TRATAMIENTO',
       'CANTIDAD_TRATADA_POR_TERCEROS', 'TIPO_DE_TRATAMIENTO.1',
       'RAZON_SOCIAL_DEL_TERCERO.2', 'CANTIDAD_DISPUESTA_POR_EL_GENERADOR',
       'TIPO_DE_DISPOCISION', 'CANTIDAD_DISPUESTA_POR_TERCEROS',
       'TIPO_DE_DISPOSICION.1', 'RAZON_SOCIAL_DEL_TERCERO.3'])

Se renombran algunas columnas y se exporta la base filtrada y unificada

In [4]:
df_conso = df_conso.rename(columns={'ACTIVIDAD_ECONOMICA_CIIU_Rev.4.0_A.C.': 'ACTIVIDAD_ECONOMICA_CIIU'})
df_conso = df_conso.rename(columns={'GENERACION_TOTAL_kg.': 'GENERACION_TOTAL_KG'})
df_conso = df_conso.rename(columns={'ANO': 'ANIO'})
df_conso = df_conso.dropna(subset=["DEPARTAMENTO"])
df_conso["ACTIVIDAD_ECONOMICA_CIIU"].replace('([^0-9]*)','',inplace = True, regex = True)
print(f"Shape of data RESPEL filtered and unified: {df_conso.shape}")
df_conso.to_csv('RESPEL_Filtered_Unified.csv', index=False, sep=';')
df_conso

Shape of data RESPEL filtered and unified: (14421, 11)

,AUTORIDAD_AMBIENTAL,DEPARTAMENTO,MUNICIPIO,ACTIVIDAD_ECONOMICA_CIIU,CORRIENTE_DE_RESIDUO_O_DESECHO_PELIGROSO,DESCRIPCION_DEL_RESIDUO,ESTADO_DE_LA_MATERIA,UNIDAD_DE_MEDIDA,TIPO_DE_DISPOSICION,GENERACION_TOTAL_KG,ANIO
8,AMB,SANTANDER,BUCARAMANGA,4741,A1180 - Montajes electricos y electronicos de ...,Residuos de aparatos electricos y electronicos...,Solido o semisolido,kilogramo (kg),--,393.30,2015
226,AMVA,ANTIOQUIA,ITAGUI,6311,A1180 - Montajes electricos y electronicos de ...,"RAEES TOTAL 9207,09 TOTAL GESTIONADO 2015 8003...",Solido o semisolido,kilogramo (kg),--,9207.90,2015
293,AMVA,ANTIOQUIA,BELLO,1312,A1180 - Montajes electricos y electronicos de ...,chatarra electronica,Solido o semisolido,kilogramo (kg),--,6675.00,2015
338,AMVA,ANTIOQUIA,ITAGUI,4664,A1180 - Montajes electricos y electronicos de ...,NaN,Solido o semisolido,kilogramo (kg),--,5598.00,2015
410,AMVA,ANTIOQUIA,COPACABANA,2750,A1180 - Montajes electricos y electronicos de ...,"Chatarra electronica y pilas, - Montajes elect...",Solido o semisolido,kilogramo (kg),Celda de Seguridad,4341.40,2015
...,...,...,...,...,...,...,...,...,...,...,...
67274,SDA,"BOGOTA, D.C.","BOGOTA, D.C.",9512,A1180 - Montajes electricos y electronicos de ...,"Residuos electronicos (Computadores, servidore...",Solido o semisolido,kilogramo (kg),--,710.00,2020
67290,SDA,"BOGOTA, D.C.","BOGOTA, D.C.",4645,A1180 - Montajes electricos y electronicos de ...,RAEE´S,Solido o semisolido,kilogramo (kg),--,30.63,2020
67311,SDA,"BOGOTA, D.C.","BOGOTA, D.C.",8621,A1180 - Montajes electricos y electronicos de ...,"Cables, equipos de control y protecci?n (equip...",Solido o semisolido,kilogramo (kg),--,43.00,2020
67316,SDA,"BOGOTA, D.C.","BOGOTA, D.C.",6190,A1180 - Montajes electricos y electronicos de ...,NaN,Solido o semisolido,kilogramo (kg),--,21619.80,2020
67326,SDA,"BOGOTA, D.C.","BOGOTA, D.C.",6130,A1180 - Montajes electricos y electronicos de ...,RAEES,Solido o semisolido,kilogramo (kg),--,8361.00,2020

# CATEGORIZAR Y ANALIZAR DATOS (2015 - 2020)

CATEGORIZAR Y ANALIZAR POR DERPARTAMETO  (2015 - 2020)

In [5]:
# Copia del DataFrame Consolidado
datos = df_conso.copy()
datos_dep =  pd.DataFrame()

# Filtrado de las columnas 'DEPARTAMENTO','GENERACION_TOTAL_KG','ANIO'
datos_dep = pd.DataFrame(datos, columns=['DEPARTAMENTO','GENERACION_TOTAL_KG','ANIO'])
datos_dep = datos_dep.groupby(['DEPARTAMENTO', 'ANIO'])['GENERACION_TOTAL_KG'].agg('sum').reset_index()
datos_dep.sort_values(['DEPARTAMENTO'], ascending=[True], inplace=True)

# Se genera un código a cada Departamento
encoder = OrdinalEncoder(categories=[datos_dep['DEPARTAMENTO'].unique()])

# Ajustamos el codificador con la variable DEPARTAMENTO y la transformamos
encoder.fit(datos_dep[["DEPARTAMENTO"]])
datos_dep["IDDEPARTAMENTO"] = encoder.transform(datos_dep[["DEPARTAMENTO"]])
datos_dep = pd.DataFrame(datos_dep, columns=['DEPARTAMENTO','IDDEPARTAMENTO','GENERACION_TOTAL_KG','ANIO'])

# Se ordena por IDDEPARTAMENTO Y ANIO
datos_dep.sort_values(['IDDEPARTAMENTO','ANIO'], ascending=[True, True], inplace=True)
# Se Exporta la base agrupada de Departamentos
datos_dep.to_csv('DEPARTAMENTO_GrpConsolidado.csv', index=False, sep=';')

datos_dep

    DEPARTAMENTO  IDDEPARTAMENTO  GENERACION_TOTAL_KG  ANIO
0       AMAZONAS             0.0               470.00  2015
1       AMAZONAS             0.0                64.99  2017
2       AMAZONAS             0.0                45.30  2018
3       AMAZONAS             0.0                51.10  2019
4      ANTIOQUIA             1.0             94556.37  2015
..           ...             ...                  ...   ...
171       VAUPES            31.0                30.00  2017
172       VAUPES            31.0                76.25  2020
173      VICHADA            32.0                 0.00  2018
174      VICHADA            32.0                 0.00  2019
175      VICHADA            32.0                23.00  2020

[176 rows x 4 columns]

De acuerdo a la base anterior, se realiza la sumatoria de GENERACION_TOTAL_KG por Departameto y se exporta

In [6]:
# Sumatoria de GENERACION_TOTAL_KG por DEPARTAMENTO
datos_dep_sum = datos_dep.copy()
datos_dep_sum = datos_dep_sum.groupby(['DEPARTAMENTO'])['GENERACION_TOTAL_KG'].agg('sum').reset_index()

# Se exporta la Base de Departamento, Agrupada por GENERACION_TOTAL_KG y ANIO
datos_dep_sum.to_csv('DEPARTAMENTO_TOTAL_GrpConsolidado.csv', index=False, sep=';')

# Se Ordena descendentemente por GENERACION_TOTAL_KG para visualizar los departamentos con mayor generación de desechos
datos_dep_sum.sort_values(['GENERACION_TOTAL_KG'], ascending=[False], inplace=True)
datos_dep_sum

                                         DEPARTAMENTO  GENERACION_TOTAL_KG
5                                        BOGOTA, D.C.           6172470.48
1                                           ANTIOQUIA            935054.96
15                                       CUNDINAMARCA            692458.88
30                                    VALLE DEL CAUCA            605594.43
6                                             BOLIVAR            500265.25
4                                           ATLANTICO            481149.58
26                                          RISARALDA            411601.72
27                                          SANTANDER            194656.84
19                                         LA GUAJIRA            153283.30
22                                             NARINO            150743.12
7                                              BOYACA            113626.86
8                                              CALDAS             96623.81
23                                 NORTE DE SANTANDER             81801.51
18                                              HUILA             76209.85
21                                               META             75415.14
11                                              CAUCA             36317.99
2                                              ARAUCA             33437.37
12                                              CESAR             32836.58
29                                             TOLIMA             31370.14
14                                            CORDOBA             29428.43
25                                            QUINDIO             24452.05
20                                          MAGDALENA             20471.38
28                                              SUCRE             17057.28
10                                           CASANARE             16461.30
24                                           PUTUMAYO              4924.25
13                                              CHOCO              2289.10
3   ARCHIPIELAGO DE SAN ANDRES, PROVIDENCIA Y SANT...               923.23
9                                             CAQUETA               851.90
16                                            GUAINIA               699.00
0                                            AMAZONAS               631.39
31                                             VAUPES               106.25
17                                           GUAVIARE                36.60
32                                            VICHADA                23.00

CATEGORIZAR Y ANALIZAR POR MUNICIPIO (2015 - 2020)

In [7]:
datos_mun =  pd.DataFrame()

# Filtrado de las columnas 'MUNICIPIO','GENERACION_TOTAL_KG','ANIO'
datos_mun = pd.DataFrame(datos, columns=['MUNICIPIO','GENERACION_TOTAL_KG','ANIO'])
datos_mun = datos_mun.dropna(subset=["MUNICIPIO"])
datos_mun = datos_mun.groupby(['MUNICIPIO', 'ANIO'])['GENERACION_TOTAL_KG'].agg('sum').reset_index()
datos_mun.sort_values(['MUNICIPIO'], ascending=[True], inplace=True)

# Se genera un código por cada MUNICIPIO
encoder = OrdinalEncoder(categories=[datos_mun['MUNICIPIO'].unique()])

# Ajustamos el codificador con la variable MUNICIPIO y la transformamos
encoder.fit(datos_mun[["MUNICIPIO"]])
datos_mun["IDMUNICIPIO"] = encoder.transform(datos_mun[["MUNICIPIO"]])
datos_mun = pd.DataFrame(datos_mun, columns=['MUNICIPIO','IDMUNICIPIO','GENERACION_TOTAL_KG','ANIO'])

# Se ordena por IDMUNICIPIO y ANIO
datos_mun.sort_values(['IDMUNICIPIO','ANIO'], ascending=[True, True], inplace=True)
# Se Exporta la base agrupada de Departamentos
datos_mun.to_csv('MUNICIPIO_GrpConsolidado.csv', index=False, sep=';')
datos_mun

          MUNICIPIO  IDMUNICIPIO  GENERACION_TOTAL_KG  ANIO
0           ACACIAS          0.0                20.00  2016
1           ACACIAS          0.0                36.97  2017
2           ACACIAS          0.0                10.00  2019
3           ACACIAS          0.0                43.00  2020
4         AGUACHICA          1.0               270.00  2015
...             ...          ...                  ...   ...
1206      ZIPAQUIRA        395.0               181.53  2016
1207      ZIPAQUIRA        395.0               333.31  2017
1208      ZIPAQUIRA        395.0               223.94  2019
1209      ZIPAQUIRA        395.0                24.35  2020
1210  ZONA BANANERA        396.0               224.80  2019

[1211 rows x 4 columns]

De acuerdo a la base anterior, se realiza la sumatoria de GENERACION_TOTAL_KG por Municipio y se exporta

In [8]:
# Sumatoria de GENERACION_TOTAL_KG por MUNICIPIO
datos_mun_sum = datos_mun.copy()
datos_mun_sum = datos_mun_sum.groupby(['MUNICIPIO'])['GENERACION_TOTAL_KG'].agg('sum').reset_index()

# Se exporta la Base de Departamento, Agrupada por GENERACION_TOTAL_KG y ANIO
datos_mun_sum.to_csv('MUNICIPIO_TOTAL_GrpConsolidado.csv', index=False, sep=';')

# Se Ordena descendentemente por GENERACION_TOTAL_KG para visualizar los municipios con mayor generación de desechos
datos_mun_sum.sort_values(['GENERACION_TOTAL_KG'], ascending=[False], inplace=True)
datos_mun_sum

               MUNICIPIO  GENERACION_TOTAL_KG
35          BOGOTA, D.C.           5801851.56
64   CARTAGENA DE INDIAS            446875.78
201             MEDELLIN            356337.78
30          BARRANQUILLA            270599.70
236              PEREIRA            256390.95
..                   ...                  ...
241     PIENDAMO - TUNIA                 0.09
89              CUCUNUBA                 0.00
311        SANTA ROSALIA                 0.00
32       BELEN DE UMBRIA                 0.00
118              FLANDES                 0.00

[397 rows x 2 columns]

CATEGORIZAR Y ANALIZAR POR ACTIVIDAD ECONOMICA (2015 - 2020)

In [9]:
datos_act =  pd.DataFrame()

# Filtrado de las columnas 'ACTIVIDAD_ECONOMICA_CIIU','GENERACION_TOTAL_KG','ANIO'
datos_act = pd.DataFrame(datos, columns=['ACTIVIDAD_ECONOMICA_CIIU','GENERACION_TOTAL_KG','ANIO'])
datos_act = datos_act.groupby(['ACTIVIDAD_ECONOMICA_CIIU', 'ANIO'])['GENERACION_TOTAL_KG'].agg('sum').reset_index()

# Se ordena por ACTIVIDAD_ECONOMICA_CIIU y ANIO
datos_act.sort_values(['ACTIVIDAD_ECONOMICA_CIIU','ANIO'], ascending=[True, True], inplace=True)
# Se Exporta la base agrupada de Activiad Economica
datos_act.to_csv('ACTIVIDAD_ECONOMICA_GrpConsolidado.csv', index=False, sep=';')
datos_act

     ACTIVIDAD_ECONOMICA_CIIU  ANIO  GENERACION_TOTAL_KG
0                        0111  2018               479.00
1                        0111  2019              1181.00
2                        0111  2020               545.00
3                        0113  2018                10.60
4                        0113  2020                17.00
...                       ...   ...                  ...
1527                     9609  2019              1287.67
1528                     9609  2020               692.35
1529                     9700  2015                29.00
1530                     9900  2018               114.85
1531                     9900  2019                21.90

[1532 rows x 3 columns]

De acuerdo a la base anterior, se realiza la sumatoria de GENERACION_TOTAL_KG por Actividad Economica y se exporta

In [11]:
# Sumatoria de GENERACION_TOTAL_KG por ACTIVIDAD_ECONOMICA_CIIU
datos_act_sum = datos_act.copy()
datos_act_sum = datos_act_sum.groupby(['ACTIVIDAD_ECONOMICA_CIIU'])['GENERACION_TOTAL_KG'].agg('sum').reset_index()

# Se exporta la Base de Actividad Economica, Agrupada por GENERACION_TOTAL_KG y ANIO
datos_act_sum.to_csv('ACTIVIDAD_ECONOMICA_CIIU_TOTAL_GrpConsolidado.csv', index=False, sep=';')

# Se Ordena descendentemente por GENERACION_TOTAL_KG para visualizar las Actividades Economicas con mayor generación de desechos
datos_act_sum.sort_values(['GENERACION_TOTAL_KG'], ascending=[False], inplace=True)
datos_act_sum

    ACTIVIDAD_ECONOMICA_CIIU  GENERACION_TOTAL_KG
232                     6190           3707425.08
146                     3513            500779.23
51                      1104            294898.01
296                     8610            284712.35
291                     8544            270545.10
..                       ...                  ...
114                     2651                 0.80
197                     4762                 0.70
198                     4771                 0.00
270                     8230                 0.00
209                     5121                 0.00

[328 rows x 2 columns]